@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Details</h2>

<h3>@Model.Name</h3>
<h4>Genre: @Model.Genre.GenreName</h4>
<h4>Release Date: @Model.ReleaseDate.ToShortDateString()</h4>
<h4>Date Added: @Model.DateAdded.ToShortDateString()</h4>
<h4>Number in stock: @Model.NumberInStock</h4>